//* reset *//
* {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC";
}

li {
  list-style: none;
}

img,
a img {
  border: none;
  vertical-align: bottom;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:active {
  outline: none;
}

//transition

.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: all ease .4s;
}

.fadeIn-enter,
.fadeIn-leave-active {
  opacity: 0;
  transform: scale(0);
}

.scaleIn-enter-active {
  transition: all ease .5s;
}

.scaleIn-leave-active {
  transition: all ease .8s;
}

.scaleIn-enter {
  opacity: 0;
  transform: scale(3) translateY(-100%);
  filter: blur(20px);
}

.scaleIn-leave-active {
  opacity: 0;
  transform: scale(4);
  filter: blur(10px);
}

.slideDown-enter-active,
.slideDown-leave-active {
  transition: all ease-in .4s;
  //transform: translateY(0);
}

.slideDown-enter,
.slideDown-leave-active {
  opacity: 0;
  transform: translateY(-10%);
}


