//* color *//
$red-10:#5C0011;
$red-9:#820014;
$red-8:#A8071A;
$red-7:#CF1322;
$red-6:#F5222D;
$red-5:#FF4D4F;
$red-4:#FF7875;
$red-3:#FFA39E;
$red-2:#FFCCC7;
$red-1:#FFF1F0;

$volcano-10:#610B00;
$volcano-9:#871400;
$volcano-8:#AD2102;
$volcano-7:#D4380D;
$volcano-6:#FA541C;
$volcano-5:#FF7A45;
$volcano-4:#FF9C6E;
$volcano-3:#FFBB96;
$volcano-2:#FFD8BF;
$volcano-1:#FFF2E8;

$orange-10:#612500;
$orange-9:#873800;
$orange-8:#AD4E00;
$orange-7:#D46B08;
$orange-6:#FA8C16;
$orange-5:#FFA940;
$orange-4:#FFC069;
$orange-3:#FFD591;
$orange-2:#FFE7BA;
$orange-1:#FFF7E6;

$gold-10:#613400;
$gold-9:#874D00;
$gold-8:#AD6800;
$gold-7:#D48806;
$gold-6:#FAAD14;
$gold-5:#FFC53D;
$gold-4:#FFD666;
$gold-3:#FFE58F;
$gold-2:#FFF1B8;
$gold-1:#FFFBE6;

$yellow-10:#614700;
$yellow-9:#876800;
$yellow-8:#AD8B00;
$yellow-7:#AD8B00;
$yellow-6:#FADB14;
$yellow-5:#FFEC3D;
$yellow-4:#FFF566;
$yellow-3:#FFFB8F;
$yellow-2:#FFFFB8;
$yellow-1:#FEFFE6;

$lime-10:#254000;
$lime-9:#3F6600;
$lime-8:#5B8C00;
$lime-7:#7CB305;
$lime-6:#A0D911;
$lime-5:#BAE637;
$lime-4:#D3F261;
$lime-3:#EAFF8F;
$lime-2:#F4FFB8;
$lime-1:#FCFFE6;

$green-10:#092B00;
$green-9:#135200;
$green-8:#237804;
$green-7:#389E0D;
$green-6:#52C41A;
$green-5:#73D13D;
$green-4:#95DE64;
$green-3:#B7EB8F;
$green-2:#D9F7BE;
$green-1:#F6FFED;

$cyan-10:#002329;
$cyan-9:#00474F;
$cyan-8:#006D75;
$cyan-7:#08979C;
$cyan-6:#13C2C2;
$cyan-5:#36CFC9;
$cyan-4:#5CDBD3;
$cyan-3:#87E8DE;
$cyan-2:#B5F5EC;
$cyan-1:#E6FFFB;

$blue-10:#002766;
$blue-9:#003A8C;
$blue-8:#0050B3;
$blue-7:#096DD9;
$blue-6:#1890FF;
$blue-5:#40A9FF;
$blue-4:#69C0FF;
$blue-3:#91D5FF;
$blue-2:#BAE7FF;
$blue-1:#E6F7FF;

$geekBlue-10:#030852;
$geekBlue-9:#061178;
$geekBlue-8:#10239E;
$geekBlue-7:#1D39C4;
$geekBlue-6:#2F54EB;
$geekBlue-5:#597EF7;
$geekBlue-4:#85A5FF;
$geekBlue-3:#ADC6FF;
$geekBlue-2:#D6E4FF;
$geekBlue-1:#F0F5FF;

$purple-10:#120338;
$purple-9:#22075E;
$purple-8:#391085;
$purple-7:#531DAB;
$purple-6:#722ED1;
$purple-5:#9254DE;
$purple-4:#B37FEB;
$purple-3:#D3ADF7;
$purple-2:#EFDBFF;
$purple-1:#F9F0FF;

$magenta-10:#520339;
$magenta-9:#780650;
$magenta-8:#9E1068;
$magenta-7:#C41D7F;
$magenta-6:#EB2F96;
$magenta-5:#F759AB;
$magenta-4:#FF85C0;
$magenta-3:#FFADD2;
$magenta-2:#FFD6E7;
$magenta-1:#FFF0F6;

$gray-10:#000;
$gray-9:#333;
$gray-8:#666;
$gray-7:#999;
$gray-6:#ccc;
$gray-5:#D9D9D9;
$gray-4:#E8E8E8;
$gray-3:#F5F5F5;
$gray-2:#F1F1F1;
$gray-1:#FAFAFA;

$theme1-color-dark:$blue-8;
$theme1-color-default:$blue-6;
$theme1-color-light:$blue-1;

$theme2-color-dark:#e31c2c; //F5222D //e31c2c
$theme2-color-default:#F03F48;
$theme2-color-light:#FFF1F2;

$theme3-color-dark:#B59050;
$theme3-color-default:#C59A69;
$theme3-color-light:#FFF8EF;

$theme4-color-dark:#E94030;
$theme4-color-default:#ff6f61;
$theme4-color-light:#FFF2F0;

$theme5-color-dark:#773934;
$theme5-color-default:#AF605A;
$theme5-color-light:#F8F5F5;

$theme6-color-dark:#00714E;
$theme6-color-default:#00b27a;
$theme6-color-light:#EFFFFA;

$theme7-color-dark:#5B3F9A;
$theme7-color-default:#6E4DB6;
$theme7-color-light:#F2ECFF;

$theme8-color-dark:#0F4C81; //rgba(29,78,137,1)
$theme8-color-default:rgba(29,78,137,.8);
$theme8-color-light:rgba(29,78,137,.1);
//顶部菜单主题
$header-color-theme1:$theme1-color-dark;
$header-color-theme2:$theme2-color-dark;
$header-color-theme3:$theme3-color-dark;
$header-color-theme4:$theme4-color-dark;
$header-color-theme5:$theme5-color-dark;
$header-color-theme6:$theme6-color-dark;
$header-color-theme7:$theme7-color-dark;
$header-color-theme8:$theme8-color-dark;

//下拉菜单主题
$dropMenu-color-theme1:$theme1-color-default;
$dropMenu-bg-theme1:$theme1-color-light;
$dropMenu-color-theme2:$theme2-color-default;
$dropMenu-bg-theme2:$theme2-color-light;
$dropMenu-color-theme3:$theme3-color-default;
$dropMenu-bg-theme3:$theme3-color-light;
$dropMenu-color-theme4:$theme4-color-default;
$dropMenu-bg-theme4:$theme4-color-light;
$dropMenu-color-theme5:$theme5-color-default;
$dropMenu-bg-theme5:$theme5-color-light;
$dropMenu-color-theme6:$theme6-color-default;
$dropMenu-bg-theme6:$theme6-color-light;
$dropMenu-color-theme7:$theme7-color-default;
$dropMenu-bg-theme7:$theme7-color-light;
$dropMenu-color-theme8:$theme8-color-default;
$dropMenu-bg-theme8:$theme8-color-light;

//listInfo主题
$listInfo-border-theme1:$theme1-color-default;
$listInfo-border-theme2:$theme2-color-default;
$listInfo-border-theme3:$theme3-color-default;
$listInfo-border-theme4:$theme4-color-default;
$listInfo-border-theme5:$theme5-color-default;
$listInfo-border-theme6:$theme6-color-default;
$listInfo-border-theme7:$theme7-color-default;
$listInfo-border-theme8:$theme8-color-default;


//badge主图
$badge-color-theme1:#fff;
$badge-bg-theme1:#F8364E;
$badge-color-theme2:$theme2-color-default;
$badge-bg-theme2:#fff;
$badge-color-theme4:$theme4-color-dark;
$badge-bg-theme4:#fff;

//loading_spin
$loading-spinner-theme1:$theme1-color-default;
$loading-spinner-theme2:$theme2-color-default;
$loading-spinner-theme3:$theme3-color-default;
$loading-spinner-theme4:$theme4-color-default;
$loading-spinner-theme5:$theme5-color-default;
$loading-spinner-theme6:$theme6-color-default;
$loading-spinner-theme7:$theme7-color-default;
$loading-spinner-theme8:$theme8-color-default;


$background-theme1:$theme1-color-default;
$background-theme2:$theme2-color-default;
$background-theme3:$theme3-color-default;
$background-theme4:$theme4-color-default;
$background-theme5:$theme5-color-default;
$background-theme6:$theme6-color-default;
$background-theme7:$theme7-color-default;
$background-theme8:$theme8-color-default;

$border_theme1:$theme1-color-default;
$border_theme2:$theme2-color-default;
$border_theme3:$theme3-color-default;
$border_theme4:$theme4-color-default;
$border_theme5:$theme5-color-default;
$border_theme6:$theme6-color-default;
$border_theme7:$theme7-color-default;
$border_theme8:$theme8-color-default;

$light-bg-theme1:$theme1-color-light;
$light-bg-theme2:$theme2-color-light;
$light-bg-theme3:$theme3-color-light;
$light-bg-theme4:$theme4-color-light;
$light-bg-theme5:$theme5-color-light;
$light-bg-theme6:$theme6-color-light;
$light-bg-theme7:$theme7-color-light;
$light-bg-theme8:$theme8-color-light;

$ascendingArrow-theme1:$theme1-color-default;
$ascendingArrow-theme2:$theme2-color-default;
$ascendingArrow-theme3:$theme3-color-default;
$ascendingArrow-theme4:$theme4-color-default;
$ascendingArrow-theme5:$theme5-color-default;
$ascendingArrow-theme6:$theme6-color-default;
$ascendingArrow-theme7:$theme7-color-default;
$ascendingArrow-theme8:$theme8-color-default;


$cardShadow:0 0 10px 0 rgba(0,0,0,.05);
$cardShadow-hover:4px 4px 20px 0 rgba(0,0,0,.1);
